#x{width:80%;border:1px solid #666;background:#2CCCC1;position:absolute;left:99px;top:11px;}
p{color:black;font-size::18px;}
#y{width:80%;border:1px solid #666;background:#2CCCC1;position:absolute;left:99px;top:100px;}
img{height:300px;width:300px;}
#z{width:80%;border:1px solid #666;background:#2CCCC1;position:absolute;left:99px;top:500px;}
#q{width:80%;border:1px solid #666;background:#2CCCC1;position:absolute;left:99px;top:700px;}
.v{height: 266,5px;width: 400px;}
video{height:400px;width: 400px}
